:root {
    /* --bg-primary-color: #FFF; */
    --bg-primary-color: #ddcb90;
    --bg-secondary-color: #a08f57;
    --bg-dark-color: #5e4f1f;
    --primary-color: #050505;
    --secondary-color: #796113;
}

body {
    font-family: 'Roboto', sans-serif;
}

.bg-primary-color {
    background-color: var(--bg-primary-color);
}

.bg-secondary-color {
    background-color: var(--bg-secondary-color);
}

.bg-dark-color {
    background-color: var(--bg-dark-color);
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.btn-dark {
    background-color: var(--bg-primary-color);
}


/* NAV BAR */

#navbar {
    border-bottom: 2px solid var(--bg-secondary-color);
}

#navbar:hover {
    color: var(--bg-dark-color);
}

#navbar span, #navbar li a {
    color: #FFF;
}

#navbar a.active {
    border-bottom: 3px solid var(--bg-secondary-color);
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 45px;
    height: auto;
}

.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;    
}

#navbar-items .nav-item {
    margin: 0 1em;
}

.navbar-toggler {
    color: var(--bg-secondary-color);
    border: 1px solid var(--bg-secondary-color);
}



/* SLIDER */

#slider {
    margin-top: 8em;
    margin-bottom: 1em;
    border: 2px solid var(--bg-secondary-color);
}

.carousel-inner {
    max-height: 80vh; 
}

#slider .carousel-caption {
    margin-bottom: 0.2em;
}

#slider .carousel-caption a {
    opacity: 0.8;
}

#slider .carousel-caption h5 {
    font-size: 1.8em;
    text-shadow: #000 0px 0px 5px;
}

#slider .carousel-caption p {
    text-shadow: #000 0px 0px 4px;
}

.btn {
    border: none;
    border-radius: 2px;
    background: var(--bg-secondary-color);
}

.btn:hover {
    background-color: var(--bg-dark-color);
}

#slider .btn {
    padding: 0.3em 0.8em;
    font-size: 0.8em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: var(--bg-primary-color);
    font-size: 2.5em;
}



@media(min-width: 768px) {
    
    #slider .carousel-caption {
        margin-bottom: 10em;
    }

    #slider .carousel-caption h5 {
        font-size: 3.5em;
        text-shadow: #000 0px 0px 5px;
    }

    #slider .btn {
        font-size: 1.2em;
    }
    
}

/* MINI BANNERS */

#mini-banners {
    margin-bottom: 4em;
}

.card {
    padding: 2em 0.3em;
    border-radius: 2px;
    margin-bottom: 1em;
    margin-bottom: 1em;
    border: 1px solid var(--bg-secondary-color);
}

.card .bi {
    font-size: 3em;
    color: var(--bg-dark-color);
}

.card-body .card-title {
    margin-bottom: 1.5em;

}

.card-body .btn {
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
}


/* HIGHLIGHTS */

#featured-container {
    margin-bottom: 4em;
}

.title {
    font-size: 1.75em;
    margin-bottom: 0.4em;
    position: relative;
}

.title:before {
    width: 75px;
    border-top: 4px solid var(--bg-primary-color);
    content: '';
    position: absolute;
    bottom: 2em
}

#featured-images {
    margin-top: 2em;
    /* background-color: red; */
}

#featured-images img {
    border: 3px solid var(--bg-secondary-color);
}

#featured-images .col-md-3 {
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}


#featured-images .col-md-3:hover > .banner-content {
    opacity: 0.8;
}

#featured-images .banner-content {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
}

@media(min-width: 768px) {
    .title {
        font-size: 2.4em;
    }

    .title::before {
        bottom: 1.5em;
    }

    #featured-images .banner-content {
        opacity: 0;
    }
}


/* INFO */

#info-content {
    margin-bottom: 4em;
    padding: 4em 1em;
}

#info-content p {
    text-align: justify;
}


#info-numbers {
    margin: 1.5em 0;
    
}

#info-data .col-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info-banner {
    display: flex;
    align-items: center;
    margin-bottom: 5em;
}

#info-numbers .col-4 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#info-numbers h3 {
    font-size: 3em;
}

#info-numbers p {
    text-align: center;
}

#details-btn {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#details-btn a {
    width: 80%;
}

@media(min-width: 768px) {
    #info-content {
        padding: 3.5em;
    }
}


/* FOOTER TOP */

#footer {
    padding: 3em 2em;
}

#footer-top {
    margin-bottom: 2em;
}

#footer-top, #footer-top i {
    color: #FFF;
}

#social-icons {
    text-align: right;
}

#social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--bg-primary-color);
}

#social-icons i:hover {
    color: var(--bg-secondary-color);
}


/* FOOTER DETAILS */

#footer-details {
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#news-container p, #contact-container p {
    color: var(--bg-primary-color);
}

#footer-details h4 {
    color: #FFF;
    margin-bottom: 1.5em;
}


.form-control {
    border-radius: 0;
    border: none;
}

#subscribe-btn {
    background-color: var(--bg-primary-color);
    color: var(--primary-color);
}

#subscribe-btn:hover {
    background-color: var(--bg-secondary-color);
}

#links-container li {
    margin-bottom: 0.5em;
}

#links-container a {
    text-decoration: none;
    color: var(--bg-primary-color);
}

#links-container a:hover {
    color: #FFF;
}

@media(min-width: 768px) {
    #footer-details-container {
        display: flex;
        justify-content: space-evenly;
    }

    #news-container,
    #contact-container,
    #links-container {
        flex: 1;
    }
}



/* FOOTER BOTOOM */

#footer-bottom {
    border-top: 1px solid var(--bg-secondary-color);
    padding-top: 2em;
}

#footer-bottom p {
    color: var(--bg-primary-color);
}

#footer-bottom i {
    color: #F0A;
    margin-left: 0.3em;
}

@media(min-width: 768px) {
    #news-container {
        padding-right: 2em;
    }

    #links-container {
        padding-left: 2em;
    }

    #contact-container {
        padding: 0 2em;
        border-left: 1px solid var(--bg-secondary-color);
        border-right: 1px solid var(--bg-secondary-color);
    }
}


@media (min-width: 768px) and (max-width: 1200px) {

    #slider .carousel-caption {
        margin-bottom: 3em;
    }
    
    #slider .carousel-caption h5 {
        font-size: 1.8em;
        text-shadow: #000 2px 2px;
    }

    #info-content .title::before {
        bottom: 3em;
    }
}

@media (max-width: 424px) {
    #info-content .title::before {
        bottom: 3em;
    }
}